@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

:root{
    /* --color-background :#66C273;
    --color-text: white; */

    --color-background :white;
    --color-text: black;
}

*{
    box-sizing: border-box;
    /* font-family: 'Roboto',sans-serif; */
    font-family: 'HK Grotesk', sans-serif;
}


.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* overflow:scroll; */
}

.container-green {
    background-color: var(--color-background);
    width: 60%;
    /* max-width: 340px; */
    max-width: 90vw;
    padding: 10vh 10vh;
    /* min-height: 450px; */
    /* border: 0px; */
    border-top: 8px solid var(--color-text);
    border-bottom: 8px solid var(--color-text);
    border-radius: 10px;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
    /* position: absolute; */
    /* margin-bottom: 0px;  */
    overflow: visible;
}

.title{
    font-weight: bold;
    /* font-size: 2.1em; */
    font-size: 10vw;
    /* position: relative; */
    /* bottom: 8%; */
}

.subtitle{
    font-size: 8vw;
    /* position: relative;
    bottom: 5%; */
    text-align: center;
    margin-top: 3vh;
}

.dotted{
    /* display: inline; */
    margin-top: 5vh;
    border-top: dotted var(--color-text) 2vw;
    width: 30%;
}

.github{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    /* position: relative;
    top: 3%; */
    /* background-color: var(--color-text); */
    /* color: var(--color-background); */
    border-radius: 5px;
    padding: 0.2rem 1em;
    text-decoration: none;
    font-weight:700;
    margin-top: 5vh;
    border : 1px var(--color-text) solid;
    color: var(--color-text);
}

img {
    width: 3vw;
    background-color: white;
    /* border-radius: 10px ; */
    margin-left: 10px;
}

.github:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@media(min-width:500px){
    .title{
        font-size: 60px;
    }
    .subtitle{ 
        font-size: 30px;
    }
}

@media(max-width:500px){
    .container-green{
        width: 95vw;
    }

    .github{
        font-size: 12px;
    }        
}
